{% extends 'ticket/base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container">
	<h1>Events</h1>
	{% if events %}
	<div class="row">
	{% for event in events %}
        <div class="col-md-4">            
            <div class="thumb">
                <a href="/events/{{ event.slug }}">
	                <div class="caption">
	                    <h4>{{ event.name }}</h4>
	                	<p><span class="glyphicon glyphicon-map-marker"></span> <a href="/venues/{{ event.venue.slug }}">{{ event.venue}}</a></p>
	                	<p><span class="glyphicon glyphicon-calendar"></span> {{ event.date }}, {{ event.start_time }}</p>                  
	                	<a href="/cart/add?id={{ event.id }}" class="btn btn-info btn-s" role="button">Buy Now</a>
	                </div>
                </a>
                <img class="card-img" src="/media/{{ event.image }}" alt="{{ event.name }}">
            </div>
      </div>
	{% endfor %}
	</div>
	{% else %}
		<div class="alert alert-danger" role="alert"><strong>Boo!</strong> There are no events set.</div>
	{% endif %}
</div>

{% endblock %}