{% extends 'ticket/base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container">
	<div class="col-md-8 col-md-offset-2">
  		<h2>BandPunch Terms of Use</h2>
  			<div class="text">
 				Welcome to BandPunch. The following are the rules or "Terms" that govern use of the BandPunch website ("Site"). By using or visiting the Site, you expressly agree to be bound by these Terms and to follow these Terms and all applicable laws and regulations governing the Site. BandPunch Corporation, BandPunch UK Ltd. and their respective affiliates and subsidiaries (collectively "BandPunch") reserve the right to change these Terms at any time, effective immediately upon posting on the Site. Please check this page of the Site periodically. If you violate these Terms of Use, BandPunch may terminate your use of the Site, bar you from future use of the Site, cancel your ticket order, and/or take appropriate legal action against you.<br /><br />
 			</div>

	    <h5>Permitted Use</h5>
  			<div class="text">
				You agree that you are only authorised to visit, view and to retain a copy of pages of this Site for your own personal use, and that you shall not duplicate, download, publish, modify or otherwise distribute the material on this Site for any purpose other than to review event and promotional information, for personal use, or to purchase tickets or merchandise for your personal use, unless otherwise specifically authorised by BandPunch to do so. You also agree not to deep-link to the site for any purpose, unless specifically authorised by BandPunch to do so. The content and software on this Site is the property of BandPunch and/or its suppliers and is protected by U.K. and international copyright laws. We post a legal notice and various credits on pages of the Site, which may not be removed. Please do not remove this notice or these credits, or any additional information contained along with the notices and credits.<br /><br />
			</div>
  
  		<h5>Unauthorised Use of the Site</h5>
  			<div class="text">
  				Illegal and/or unauthorised uses of the Site, including, but not limited to, unauthorised ticket sales, unauthorised framing of or linking to the Site, or unauthorised use of any robot, spider or other automated device on the site, will be investigated and appropriate legal action will be taken, including without limitation civil, criminal and injunctive redress.<br /><br />

  		<h5>Copyright Policy</h5>
  			<div class="text">
  				We will terminate the privileges of any user who uses this Site to unlawfully transmit copyrighted material without a license express consent, valid defence or fair use exemption to do so. In particular, users who submit Content to this Site, whether articles, images, stories, software or other copyrightable material must ensure that the Content they upload does not infringe the copyrights or other rights of third parties (such as privacy or public rights). After proper notification by the copyright holder or its agent to us, and confirmation through court order or admission by the user that they have used this Site as an instrument of unlawful infringement, we will terminate the infringing users' rights to use and/or access this Site. We may, also in our sole discretion, decide to terminate a user's rights to use or access the Site prior to that time if we believe that the alleged infringement has occurred.
  			</div>

{% endblock %}