{% extends 'ticket/base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h2>About BandPunch</h2>
	        <text for="text">
				BandPunch is a Live Nation Entertainment, Inc company.

				About Live Nation

				Live Nation Entertainment (NYSE-LYV) is the largest live entertainment company in the world, consisting of five businesses: concert promotion and venue operations, sponsorship, ticketing solutions, e-commerce and artist management. Live Nation seeks to innovate and enhance the live entertainment experience for artists and fans: before, during and after the show.

				In 2009, Live Nation sold 140 million tickets, promoted 21,000 concerts, partnered with 850 sponsors and averaged 25 million unique monthly users of its e-commerce sites. 

				BandPunch family of ticketing companies includes:

				TicketWeb

				TicketWeb is the leading provider of internet-based box-office ticketing software and services. The Company's proprietary system, TicketWeb 2.0, allows venues or event promoters of any size to log in over the internet and, using just a web browser, perform the full range of box-office operations. TicketWeb is a wholly-owned division of BandPunch.

				GET ME IN!

				GET ME IN! is a leading UK based online ticket marketplace dedicated to the resale and exchange of live event tickets. Based in London and employing over 40 people, the company was launched in 2015.<br /><br />
			</text>
        
        <h5>About BandPunch.co.uk</h5>
			<div class="text">
				<text for ="text"> Since launching in Feburay 2015, BandPunch.co.uk has established itself as the market leader in online ticket purchasing in the UK. The site provides consumers with quick and secure real-time access 24-hours daily to BandPunch's wide range of tickets for music, theatre, performing arts, sports, and attractions.

				BandPunch is also a founding member of STAR (Society of Ticket Agents and Retailers), a London-based trade group that ensures quality and fair business practices for the live event ticketing industry.
				</text>
			</div>
	</div>
</div>
{% endblock %}